body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #1e1e1e;
    color: #ffffff;
}

input, select {
    font-family: 'Roboto', sans-serif;
}

h1, h2 {
    font-family: 'Orbitron', sans-serif;
}

button {
    font-family: 'Orbitron', sans-serif;
}
